*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt

.vscode/
.sass-cache/
.versions/
coverage/
collection/
dist/
node_modules/
tmp/
temp/
core/theme-builder/
core/test-components/
$RECYCLE.BIN/

.package.tmp.json
